body {
  background-color: black;
}

/* Header */

.navbar {
  height: auto;
  display: block;
  text-align: center;
  padding: 10px;
  background-image: linear-gradient(to right, #f74fca, #af25bc);
  position: fixed;
  width: 100%;
}


.navtitle, .emily {
  padding: 10px 0 20px 0;
}

.navtitle {
  font-size: 50px;
  font-family: 'Monoton', cursive;
}

.placeholder {
  display: block;
  height: 100px;
  top: 0;
  position: relative;
}

/* Footer */

.emily {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  z-index: 1;
  font-family: 'Pacifico', cursive;
  color: #f74fca
}


/* Cards */

.cardborder {
  width: 50%;
  display: inline-block;
  float: left;
}

.imageborder {
  width: 60%;
  padding: 40px 20%;
}

img {
  display: block;
  width: 100%;
}

.caption {
  color: #f74fca;
  font-family: 'Berkshire Swash', cursive;
  text-align: center;
  margin-bottom: 30px
}
