body {
  background-color: black;
}

/* Header */

.navbar {
  height: 160px;
  display: block;
  text-align: center;
  background-image: linear-gradient(to right, #f74fca, #af25bc);
  position: fixed;
  width: 100%;
  top: 0;
}

.navtitle {
  font-size: 50px;
  font-family: 'Monoton', cursive;
  padding: 20px;
}

.navlinks a {
  margin: 20px;
  color: black;
  text-decoration: none;
  border: 1px solid black;
  padding: 3px 5px 4px 5px;
  border-radius: 5px;
}

.navlinks a:hover {
  background-color: black;
  color: #f74fca
}


/* Footer */

.emily {
  padding: 10px 0 20px 0;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  z-index: 1;
  font-family: 'Pacifico', cursive;
  color: #f74fca;
}


/* Cards */

.cardborder {
  width: 50%;
  display: inline-block;
  float: left;
}

.imageborder {
  width: 60%;
  padding: 40px 20%;
}

/* Pages */

.contactcontainer {
  display: block;
  color: #f74fca;
  width: 40%;
  text-align: center;
  margin: 250px auto;
  padding: 20px;
  border: 1px solid #f74fca;
  border-radius: 5px;
  box-shadow: 5px 10px #f74fca;
}

.showcontainer {
  display: block;
  color: #f74fca;
  width: 90%;
  text-align: center;
  margin: 250px auto;
}

.aboutcontainer {
  display: block;
  color: #f74fca;
  width: 90%;
  text-align: center;
  margin: 250px auto;
  border: 1px solid #f74fca;
  border-radius: 5px;
  box-shadow: 5px 10px #f74fca;
}

.eventcard {
  display: inline-block;
  width: 40%;
  border: 1px solid #f74fca;
  border-radius: 5px;
  box-shadow: 5px 10px #f74fca;
  float: left;
  margin: 4%;
}

/* Images */

img {
  display: block;
  width: 100%;
  border: 1px solid #f74fca;
  border-radius: 5px;
  box-shadow: 5px 10px #f74fca;
}

.caption {
  color: #f74fca;
  font-family: 'Nova Mono', cursive;
  text-align: center;
  margin-bottom: 30px
}

.gallery {
  margin-top: 15%;
}

@media only screen and (max-width: 900px) {

  .cardborder {
    width: 100%;
    display: block;
    float: none;
  }

  .gallery {
    margin-top: 150px;
  }

  .navtitle {
    font-size: 40px;
    font-family: 'Monoton', cursive;
    padding: 0;
    margin: 20px 0;
  }

  .navlinks a {
    margin: 20px 7px;
  }

  .emily {
    font-size: 12px;
  }

}
