body {
  background-color: rgb(206, 136, 202);
  color: black;
  font-family: 'Just Another Hand', cursive;
}

/* Header */

.navbar {
  height: 160px;
  display: block;
  text-align: center;
  background-image: linear-gradient(to top, rgb(201, 169, 199), rgb(206, 136, 202));
  /* background-color: rgb(206, 136, 202); */
  position: fixed;
  width: 100%;
  top: 0;
}

.navtitle {
  font-size: 70px;
  font-family: 'Just Another Hand', cursive;
  padding: 20px;
}

.navlinks a {
  margin: 20px;
  font-size: 27px;
  color: black;
  text-decoration: none;
  border: 1px solid black;
  padding: 4px 5px 3px 5px;
  border-radius: 5px;
}

.navlinks a:hover {
  background-color: rgb(206, 136, 202);
  color: #9e5299
}


/* Footer */

.emily {
  padding: 10px 0 20px 0;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  z-index: 1;
  font-family: 'Vibur', cursive;
  color: black;
}


/* Cards */

.cardborder {
  width: 50%;
  display: inline-block;
  float: left;
}

.imageborder {
  width: 60%;
  padding: 40px 20%;
}

/* Pages */

.contactcontainer {
  display: block;
  color: black;
  width: 40%;
  text-align: center;
  margin: 250px auto;
  padding: 20px;
  border: 1px solid rgb(196, 104, 190);
  border-radius: 5px;
  box-shadow: 5px 10px rgb(196, 104, 190);
}

.showcontainer {
  display: block;
  color: black;
  width: 90%;
  text-align: center;
  margin: 250px auto;
}

.aboutcontainer {
  display: block;
  color: black;
  text-align: center;
  margin: 250px 20px;
  border: 1px solid rgb(196, 104, 190);
  border-radius: 5px;
  box-shadow: 5px 10px rgb(196, 104, 190);
  padding: 20px
}

.eventcard {
  display: inline-block;
  width: 40%;
  border: 1px solid rgb(196, 104, 190);
  border-radius: 5px;
  box-shadow: 5px 10px rgb(196, 104, 190);
  float: left;
  margin: 4%;
}

/* Images */

img {
  display: block;
  width: 100%;
  border: 1px solid rgb(196, 104, 190);
  border-radius: 5px;
  box-shadow: 5px 10px rgb(196, 104, 190);
}

.caption {
  color: black;
  font-family: 'Vibur', cursive;
  text-align: center;
  margin-bottom: 30px
}

.gallery {
  margin-top: 15%;
}

@media only screen and (max-width: 900px) {

  .cardborder {
    width: 100%;
    display: block;
    float: none;
  }

  .gallery {
    margin-top: 150px;
  }

  .navtitle {
    font-size: 45px;
    padding: 0;
    margin: 20px 0;
  }

  .navlinks a {
    font-size: 25px;
    margin: 20px 7px;
  }

  .emily {
    font-size: 12px;
  }

}
